# Database
DATABASE_URL="postgresql://masart:B3O6UUWOp3BLoWcZjXBG@gaza-masart-masart-b81f69:5432/masart
# NextAuth
NEXTAUTH_SECRET="Wgf8oCirKeg6Ul4PZeAZYSnlIMS5dnOejmZ9BpLiMSs="
NEXTAUTH_URL="https://cavatop.shop"

# UploadThing
UPLOADTHING_SECRET="sk_live_..."
UPLOADTHING_APP_ID="your-app-id"

# Admin credentials (for seeding)
ADMIN_EMAIL="admin@masarat-gaza.com"
ADMIN_PASSWORD="Admin@123456"
