# Database
DATABASE_URL="postgresql://username:password@localhost:5432/masarat_gaza"

# NextAuth
NEXTAUTH_SECRET="your-super-secret-key-here-generate-with-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"

# UploadThing
UPLOADTHING_SECRET="sk_live_..."
UPLOADTHING_APP_ID="your-app-id"

# Admin credentials (for seeding)
ADMIN_EMAIL="admin@masarat-gaza.com"
ADMIN_PASSWORD="Admin@123456"
